h1 {
    color:#EF798A;
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Fascinate', cursive;
    font-size: 80px;

}
h2{
    border-top-color: #EF798A;
    border-top-style: dotted;
    border-top-width: 2px;
    border-right-color: palegoldenrod;
    border-right-style: dotted;
    border-right-width: 2px;
    border-bottom-color: #EF798A;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-left-color: palegoldenrod;
    border-left-style: dotted;
    border-left-width: 2px;
    color:#94B0DA;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: aliceblue;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.5em; */

}
h3 {
    color:#505A5B;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-decoration: underline;
    font-family: 'Righteous', cursive;

}
p{
    /* color: #343f3e; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a { 
    text-decoration:none;
    font-size:medium;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
a:hover { 
    color:#EF798A;
}
a:active { 
    color:rgb(4, 160, 4);
} 
ul {
    color:#e20c77;
}
.dropdown{
    text-decoration:none;
    font-size:medium;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:#551A8b;
}

body{
    background-color:#f0f8ffad; 
}